<div class="main-content">
  <div class="container-fluid">

    <!--<app-status></app-status>-->

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="blue">
            <h4 class="title">จัดการพัสดุ</h4>
            <p class="category">เพิ่ม ลบ แก้ไข รายชื่อผู้ใช้งานทั้งหมด</p>
          </div>
          <div  class="card-content table-responsive">
            <div class="content table-responsive table-full-width">
              <ng2-smart-table [settings]="settings" [source]="source" (edit)="editData($event)" (delete)="acceptOrder($event)"></ng2-smart-table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- ManageOrder Modal -->
<div class="modal fade" id="manageOrderModal" tabindex="-1" role="dialog" aria-labelledby="manageOrderModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-body">

      <div class="content">

        <!--  Modal manage user content  -->
        <div class="card card-signup">
          <form class="form" [formGroup]="editorderForm" (ngSubmit)="submitEdit(editorderForm.value)" method="POST">
            <div class="content">


              <div class="col-md-6">

                <!-- Fullname -->
                <label class="control-label">ชื่อ-สกุล</label>
                <div class="is-info label-floating is-empty text-left">
                  <input type="TEXT" class="form-control" formControlName="fullname" required placeholder='ชื่อ-สกุล' disabled>
                </div>

                <!-- Tell -->
                <label class="control-label">เบอร์ติดต่อ</label>
                <div class="is-info label-floating is-empty text-left">
                  <input type="TEXT" class="form-control" required formControlName="tell" placeholder="เบอร์ติดต่อ" disabled>
                </div>

                <div class="text-left">
                  <strong class="text-danger text-left" *ngIf="editorderForm.controls['tell'].hasError('required')" [hidden]="editorderForm.controls['tell'].pristine">กรุณากรอกเบอร์ติดต่อ</strong>
                  <strong class="text-danger text-left" *ngIf="editorderForm.controls['tell'].hasError('minlength')" [hidden]="editorderForm.controls['tell'].pristine">เบอร์โทรศัพท์ต้องไม่น้อยกว่า {{ inputLength.tellMin }} ตัวอักษร</strong>
                  <strong class="text-danger text-left" *ngIf="editorderForm.controls['tell'].hasError('maxlength')" [hidden]="editorderForm.controls['tell'].pristine">เบอร์โทรศัพท์ต้องไม่เกิน {{ inputLength.tellMax }} ตัวอักษร</strong>
                </div>

                <!-- Size -->
                <label class="control-label">ขนาด</label>
                <select formControlName="size" required class="form-control">
                  <option value="">-- เลือกขนาด --</option>

                  <option value="XL">XL</option>
                  <option value="L" >L</option>
                  <option value="M" >M</option>
                  <option value="S" >S</option>
                </select>

                <div class="text-left">
                  <strong class="text-danger text-left" *ngIf="editorderForm.controls['size'].hasError('required')" [hidden]="editorderForm.controls['size'].pristine">กรุณาระบุขนาด</strong>
                  <strong class="text-danger text-left" *ngIf="editorderForm.controls['size'].hasError('pattern')" [hidden]="editorderForm.controls['size'].pristine">รูปแบบขนาดไม่ถูกต้อง</strong>
                </div>

                <!-- Postman ID -->
                <label class="control-label">ผู้รับผิดชอบ</label>
                <select formControlName="postmanId" required class="form-control" >
                  <option value="" selected>{{ myRole=="admin"? "-- เลือก Postman --": "ไม่มีผู้รับผิดชอบ" }}</option>
                  <option [value]="postman.officer_no" *ngFor="let postman of myRole!='admin'? []: postmans!=undefined? postmans: []" [selected]="rowData==undefined? false: rowData.postman_id==undefined? false: rowData.postman_id==postman.officer_no? true: false">{{ postman.officer_no }}</option>
                </select>


                <!-- Transport Type -->
                <label class="control-label">ประเภทการส่ง</label>
                <div class="is-empty is-info">
                  <select formControlName="transportType" required class="form-control">
                    <option value="EMS"> EMS  </option>
                    <option value="sameday"> วันต่อวัน  </option>
                  </select>
                </div>

                <div class="text-left">
                  <strong class="text-danger text-left" *ngIf="editorderForm.controls['transportType'].hasError('required')" [hidden]="editorderForm.controls['transportType'].pristine">กรุณาเลือกประเภทการส่ง</strong>
                  <strong class="text-danger text-left" *ngIf="editorderForm.controls['transportType'].hasError('pattern')" [hidden]="editorderForm.controls['transportType'].pristine">รูปแบบการเลือกประเภทการส่งไม่ถูกต้อง</strong>
                </div>

                <!-- Status -->
                <label class="control-label">สถานะพัสดุ</label>
                <div class="is-empty is-info">
                  <select formControlName="status" required class="form-control">
                    <option value="" selected>-- เลือกสถานะ --</option>
                    <option value="1" [selected]="editorderForm.controls['status'].value==1">เข้ารับพัสดุแล้ว</option>
                    <option value="2" [selected]="editorderForm.controls['status'].value==2">พัสดุถึงศูนย์คัดแยกสินค้า</option>
                    <option value="3" [selected]="editorderForm.controls['status'].value==3">พัสดุถึงสาขาปลายทาง</option>
                    <option value="4" [selected]="editorderForm.controls['status'].value==4">ปลายทางได้รับเรียบร้อยแล้ว</option>
                  </select>
                </div>

                <div class="text-left">
                  <strong class="text-danger text-left" *ngIf="editorderForm.controls['status'].hasError('required')" [hidden]="editorderForm.controls['status'].pristine">กรุณาระบุสถานะพัสดุ</strong>
                  <strong class="text-danger text-left" *ngIf="editorderForm.controls['status'].hasError('pattern')" [hidden]="editorderForm.controls['status'].pristine">รูปแบบสถานะพัสดุไม่ถูกต้อง</strong>
                </div>

                <!-- Price -->
                <label class="control-label">ราคา</label>
                <div class="is-empty is-info">
                  <input type="NUMBER" class="form-control" required formControlName="price" placeholder="ราคาพัสดุ" />
                </div>

                <div class="text-left">
                  <strong class="text-danger text-left" *ngIf="editorderForm.controls['price'].hasError('required')" [hidden]="editorderForm.controls['price'].untouched || editorderForm.controls['price'].value==null">กรุณาระบุราคา</strong>
                  <strong class="text-danger text-left" *ngIf="editorderForm.controls['price'].hasError('pattern')" [hidden]="editorderForm.controls['price'].pristine || editorderForm.controls['price'].value==null">รูปแบบราคาไม่ถูกต้อง</strong>
                </div>

                <!-- Pickup Date -->
                <label class="control-label">วันที่รับล่วงหน้า MM/DD/YYYY</label>
                <div class="is-empty is-info">
                  <input type="TEXT" class="form-control" required formControlName="pickupDate" placeholder="วันที่รับล่วงหน้า MM/DD/YYYY" />
                </div>

                <div class="text-left">
                  <strong class="text-danger text-left" *ngIf="editorderForm.controls['pickupDate'].hasError('pattern')" [hidden]="editorderForm.controls['pickupDate'].pristine">รูปแบบวันที่รับล่วงหน้าไม่ถูกต้อง</strong>
                </div>


              </div>

              <div class="col-md-6">

                <!-- Source Province -->
                <label class="control-label">จังหวัดต้นทาง</label>
                <div class="is-empty is-info">
                  <select formControlName="srcProvince" required class="form-control" (change)="getSrcDistrict($event.target.value)">
                    <option value="">เลือกจังหวัด</option>
                    <option *ngFor="let province of src_provinces!=undefined? src_provinces: []" [value]="src_provinces==undefined? '': province.PROVINCE_ID" [selected]="src_provinces==undefined? false: rowData==undefined? false: rowData.src_provinces==undefined? false: rowData.src_provinces.length==0? false: province.PROVINCE_ID==rowData.src_provinces[0].PROVINCE_ID? true: false"> {{ src_provinces==undefined? '':  province.PROVINCE_NAME }}  </option>
                  </select>
                </div>

                <!-- Source District -->
                <label class="control-label">อำเภอต้นทาง</label>
                <div class="is-empty is-info">
                  <select formControlName="srcDistrict" required class="form-control" (change)="getSrcSubDistrict($event.target.value)">
                    <option value="" [selected]="rowData==undefined? false: rowData.src_districts.length==0? false: rowData.src_districts[0].DISTRICT_ID==undefined? true: false">เลือกอำเภอ</option>
                    <option *ngFor="let district of src_districts!=undefined? src_districts: []" [value]="src_districts==undefined? null: district.DISTRICT_ID" [selected]="src_districts==undefined? false: rowData==undefined? false: rowData.src_sub_districts==undefined? false: rowData.src_districts.length==0? false: district.DISTRICT_ID==rowData.src_districts[0].DISTRICT_ID? true: false"> {{ src_districts==undefined? '': district.DISTRICT_NAME }} </option>
                  </select>
                </div>

                <!-- Source Subdistrict -->
                <label class="control-label">ตำบลต้นทาง</label>
                <div class="is-empty is-info">
                  <select formControlName="srcSubdistrict" required class="form-control">
                    <option value="" [selected]="rowData==undefined? false: rowData.src_provinces.length==0? false: rowData.src_provinces[0].SUBDISTRICT_ID==undefined? true: false">เลือกตำบล</option>
                    <option *ngFor="let subdistrict of src_sub_districts!=undefined? src_sub_districts: []" [value]="src_sub_districts==undefined? null: subdistrict.SUBDISTRICT_ID" [selected]="src_sub_districts==undefined? false: rowData==undefined? false: rowData.src_sub_districts==undefined? false: rowData.src_sub_districts.length==0? false: subdistrict.SUBDISTRICT_ID==rowData.src_sub_districts[0].SUBDISTRICT_ID? true: false"> {{ src_sub_districts==undefined? '': subdistrict.SUBDISTRICT_NAME }} </option>
                  </select>
                </div>

                <!-- Source Address Other -->
                <label class="control-label">รายละเอียดที่อยู่ต้นทางเพิ่มเติม</label>
                <div class="is-info label-floating is-empty text-left">
                  <textarea type="TEXT" class="form-control" required formControlName="srcAddressOther" placeholder="รายละเอียดที่อยู่ต้นทางเพิ่มเติม" ></textarea>
                </div>

                <div class="text-left">
                  <strong class="text-danger text-left" *ngIf="editorderForm.controls['srcAddressOther'].hasError('required')" [hidden]="editorderForm.controls['srcAddressOther'].pristine">กรุณาระบุที่อยู่ต้นทางเพิ่มเติม</strong>
                  <strong class="text-danger text-left" *ngIf="editorderForm.controls['srcAddressOther'].hasError('maxlength')" [hidden]="editorderForm.controls['srcAddressOther'].pristine">รายละเอียดที่อยู่ยาวกว่า {{ inputLength.address_otherMax }} ตัวอักษร</strong>
                </div>

                <!-- Dest Province -->
                <label class="control-label">จังหวัดปลายทาง</label>
                <div class="is-empty is-info">
                  <select formControlName="destProvince" required class="form-control" (change)="getDestDistrict($event.target.value)">
                    <option value="">เลือกจังหวัด</option>
                    <option *ngFor="let province of dest_provinces!=undefined? dest_provinces: []" [value]="dest_provinces==undefined? '': province.PROVINCE_ID" [selected]="dest_provinces==undefined? false: rowData==undefined? false: rowData.dest_provinces==undefined? false: rowData.dest_provinces.length==0? false: province.PROVINCE_ID==rowData.dest_provinces[0].PROVINCE_ID? true: false"> {{ dest_provinces==undefined? '':  province.PROVINCE_NAME }}  </option>
                  </select>
                </div>

                <!-- Dest District -->
                <label class="control-label">อำเภอปลายทาง</label>
                <div class="is-empty is-info">
                  <select formControlName="destDistrict" required class="form-control" (change)="getDestSubDistrict($event.target.value)">
                    <option value="" [selected]="rowData==undefined? false: rowData.dest_districts.length==0? false: rowData.dest_districts[0].DISTRICT_ID==undefined? true: false">เลือกอำเภอ</option>
                    <option *ngFor="let district of dest_districts!=undefined? dest_districts: []" [value]="dest_districts==undefined? null: district.DISTRICT_ID" [selected]="dest_districts==undefined? false: rowData==undefined? false: rowData.dest_districts.length==undefined? false: rowData.dest_districts.length==undefined? false: rowData.dest_districts.length==0? false: district.DISTRICT_ID==rowData.dest_districts[0].DISTRICT_ID? true: false"> {{ dest_districts==undefined? '': district.DISTRICT_NAME }} </option>
                  </select>
                </div>

                <!-- Dest Subdistrict -->
                <label class="control-label">ตำบลปลายทาง</label>
                <div class="is-empty is-info">
                  <select formControlName="destSubdistrict" required class="form-control">
                    <option value="" [selected]="rowData==undefined? false: rowData.dest_provinces.length==0? false: rowData.dest_provinces[0].SUBDISTRICT_ID==undefined? true: false">เลือกตำบล</option>
                    <option *ngFor="let subdistrict of dest_sub_districts!=undefined? dest_sub_districts: []" [value]="dest_sub_districts==undefined? null: subdistrict.SUBDISTRICT_ID" [selected]="dest_sub_districts==undefined? false: rowData==undefined? false: rowData.dest_sub_districts==undefined? false: rowData.dest_sub_districts.length==0? false: subdistrict.SUBDISTRICT_ID==rowData.dest_sub_districts[0].SUBDISTRICT_ID? true: false"> {{ dest_sub_districts==undefined? '': subdistrict.SUBDISTRICT_NAME }} </option>
                  </select>
                </div>

                <!-- Dest Address Other -->
                <label class="control-label">รายละเอียดที่อยู่ปลายทางเพิ่มเติม</label>
                <div class="is-info label-floating is-empty text-left">
                  <textarea type="TEXT" class="form-control" required formControlName="destAddressOther" placeholder="รายละเอียดที่อยู่ปลายทางเพิ่มเติม" ></textarea>
                </div>

                <div class="text-left">
                  <strong class="text-danger text-left" *ngIf="editorderForm.controls['destAddressOther'].hasError('required')" [hidden]="editorderForm.controls['destAddressOther'].pristine">กรุณาระบุที่อยู่ปลายทางเพิ่มเติม</strong>
                  <strong class="text-danger text-left" *ngIf="editorderForm.controls['destAddressOther'].hasError('maxlength')" [hidden]="editorderForm.controls['destAddressOther'].pristine">รายละเอียดที่อยู่ยาวกว่า {{ inputLength.destAddressOtherMax }} ตัวอักษร</strong>
                </div>

              </div>

              <!-- 400 Bad Request Message -->
              <div class="text-left">
                <strong class="text-danger text-left" *ngIf="inputLength.other!=undefined">{{ inputLength.other }}</strong>
              </div>

              <!-- Button Action -->
              <button type="button" class="btn btn-default btn-round pull-right" style="font-size: 14px" (click)="toggleModal()">
                <span>ยกเลิก</span>
              </button>
              <button type="submit" class="btn btn-success btn-round pull-right" style="font-size: 14px">
                <i class="fa fa-spinner ld ld-spin" *ngIf="submit"></i>
                <span *ngIf="!submit">ยืนยัน</span>
              </button>

            </div>
          </form>
        </div>
        <!--  ./Modal manage user content  -->

      </div>

      <div data-toggle="modal" data-target="#manageOrderModal" #manageOrderModal style="display: none"></div>
    </div>
  </div>
</div>
<!-- ManageOrder Modal -->

