<div class="main-content">

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats" >
          <div class="card-header" data-background-color="orange">
            <i class="material-icons">content_copy</i>
          </div>
          <div class="card-content">
            <p class="category">Used Space</p>
            <h3 class="title">49/50<small>GB</small></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-danger">warning</i> <a href="#pablo">Get More Space...</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats" >
          <div class="card-header" data-background-color="green">
            <i class="material-icons">store</i>
          </div>
          <div class="card-content">
            <p class="category">Revenue</p>
            <h3 class="title">$34,245</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Last 24 Hours
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats" >
          <div class="card-header" data-background-color="red">
            <i class="material-icons">info_outline</i>
          </div>
          <div class="card-content">
            <p class="category">Fixed Issues</p>
            <h3 class="title">75</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">local_offer</i> Tracked from Github
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats" >
          <div class="card-header" data-background-color="blue">
            <i class="fa fa-twitter"></i>
          </div>
          <div class="card-content">
            <p class="category">Followers</p>
            <h3 class="title">+245</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i> Just Updated
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">จัดการบัญชีผู้ใช้</h4>
            <p class="category">เปลียนแปลงชื่อ-สกุล</p>
          </div>
          <div  class="card-content table-responsive">
              <div class="form-group label-floating is-empty">
                <label class="control-label" for="">Email Address:
                  <span class="star">*</span>
                </label>
                <input class="form-control ng-untouched ng-pristine ng-invalid" name="email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" required="" type="email">
                <small class="text-danger" hidden="">
                  Email is required and format should be <i>john@doe.com</i>.
                </small>

                <span class="material-input"></span></div>

              <div class="form-group label-floating is-empty">
                <label class="control-label" for="">Confirm Password
                  <span class="star">*</span>
                </label>

                <input class="form-control ng-untouched ng-pristine ng-invalid" name="confirmPassword" required="" reverse="false" type="password" validateequal="password">
                <small class="text-danger" hidden="">
                  Password mismatch
                </small>
                <span class="material-input"></span></div>
              <div class="category form-category">
                <span class="star">*</span> Required fields</div>
              <div class="form-footer text-right">
                <div class="checkbox pull-left">
                  <label>
                    <input name="optionsCheckboxes" type="checkbox" class="ng-untouched ng-pristine ng-valid"><span class="checkbox-material"><span class="check"></span></span> Subscribe to newsletter
                  </label>
                </div>
                <div class="form-group">

                  <button class="btn btn-rose btn-fill btn-wd" type="submit" disabled="">Register</button>
                </div>
              </div>
            </div>
        </div>
      </div>

  </div>

