<main-navbar></main-navbar>

<!-- Header with parallax -->
<div class="wrapper">
  <div class="page-header header-filter" style="background-image: url(http://allswalls.com/images/city-aeyaey-metropolis-road-h-wallpaper-1.jpg);" [ngStyle]="{'height': routerIsRegister()? '1100px': '850px' }" [style.transform]="transform" (window:scroll)="onWindowScroll()">
    <div style="background-color: rgba(0, 0, 0, 0.6); height: 100%">
      <div class="container">
        <div class="row">
          <div class="text-center" style="padding-top: 23vh">
            <div class="col-md-6 col-md-offset-3">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- ./Header with parallax -->

  <!-- Content -->
  <div  class="main main-raised" *ngIf="routerIsMain()">
    <div class="section section-basic" >
      <div class="container">
        <div class="section text-center">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="title">Owl-Express คืออะไร ?</h2>
              <h5 class="description">
                Owl-Express คือ บริการส่งของส่งไวปานสายฟ้า <br>
                หากคุณคิดจะส่งของอย่าไปแคร์kerryมันช้า มันหน่อม มันกาก ต้องOwl-Express เท่านั้น ที่ว่องไว ไวมาก ไวจนมองไม่ทัน ราวกับว่าโยนของให้เพื่อนเลยทีเดียว
              </h5>
            </div>
          </div>

          <div class="features" [ngStyle]="{'margin-top': routerIsRegister()===true? '130px': '0px'}">
            <div class="row">
              <div class="col-md-3">
                <div class="info">
                  <div class="icon icon-info">
                    <i class="material-icons">flash_on</i>
                  </div>
                  <h4 class="info-title">เร็ว</h4>
                  <p>ถึงมือผู้รับภายใน 24ชั่วโมง หรือตามต้องการของคุณ</p>
                </div>
              </div>

              <div class="col-md-3">
                <div class="info">
                  <div class="icon icon-success">
                    <i class="material-icons">accessibility</i>
                  </div>
                  <h4 class="info-title">ยืดหยุ่น</h4>
                  <p>สามารถเลือกเวลารับของล่วงหน้าได้ ไม่ว่าคุณจะว่งหรือไม่ว่างคุณก็สามารถเลือกเวลาที่เราจะมารับของของคุณได้</p>
                </div>
              </div>

              <div class="col-md-3">
                <div class="info">
                  <div class="icon icon-danger">
                    <i class="material-icons">verified_user</i>
                  </div>
                  <h4 class="info-title">สะดวก</h4>
                  <p>ไม่ว่าสภาพอากาศจะเป็นอย่างไร รถจะติด พี่ตูนจะวิ่งอยู่ไหม เราจะตัดหน้าพี่ตูนไปส่งถึงมือท่าน</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="info">
                  <div class="icon icon-danger">
                    <i class="material-icons">check_circle</i>
                  </div>
                  <h4 class="info-title">ได้บุญกุศล</h4>
                  <p>รายได้ 10% หลังจากหักค่าใช้จ่ายแล้ว 5% เราจะมอบแก่โครงการก้าวคนละก้าวของพี่ตูน</p>
                </div>
              </div>
            </div>
          </div>
        </div>>

        <div class="section text-center">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="title">เกี่ยวกับ Owl-Express</h2>
            </div>
          </div>
          <div class="features">
            <div class="row">
              <div class="col-md-6">
                <div class="phone-container">
                  <img src="../../assets/img/owl11.png" style="width: 50%">
                </div>
              </div>

              <div class="col-md-6">
                <br><br>
                OWL-Express บริษัทจัดส่งสินค้าของเรา จะช่วยให้คุณสามารถจัดส่งสินค้าได้ตามที่ต้องการไม่ว่าสภาพอากาศจะเป็นอย่างไร คุณว่างเวลาไหน คุณอยู่ที่ไหน คุณไม่ต้องไปถึงบริษัทของเรา เราก็ไปรับส่งของพัสดุของท่านถึงทีได้ เพียงแค่กรอกข้อมูลและชำระค่าบริการ พนักงานของเราก็จะจัดส่งสินค้าให้ท่าน!! ตอบโจทย์ความต้องการของคนยุค 4.0 ที่แท้จริง
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="footer" [ngStyle]="{'margin-top': routerIsRegister()? '130px': '0px'}">
      <div class="container">
        <nav class="pull-right">
          <ul>
            <li>
              <a routerLink="/admin/login">Login as admin</a>
            </li>
          </ul>
        </nav>
        <nav class="pull-left">
          <ul>
            <li>
              <h5>
                อีเมล: owl-express@email.com
              </h5>
            </li>
          </ul>
        </nav>
        <div class="copyright text-center">
          ©
          2017
          By Owl-Express
        </div>
      </div>
    </footer>
    <!-- ./Footer -->

</div>
<!-- ./Content -->


<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true" *ngIf="routerIsMain()===true" >
  <div class="modal-dialog modal-md" style="width: 30%">
    <div class="modal-body">
      <main-login></main-login>
    </div>
  </div>
  <a data-dismiss="modal" style="display: none" #loginModal></a>
</div>
<!-- Login Modal -->

<!-- Register Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true" *ngIf="routerIsMain()===true" >
  <div class="modal-dialog modal-md" style="width: 30%">
    <div class="modal-body">
      <main-register></main-register>
    </div>
  </div>
  <a data-dismiss="modal" style="display: none" #registerModal></a>
</div>
<!-- Register Modal -->

<!-- Checktrack Track -->
<div class="modal fade" id="checktrackModal" tabindex="-1" role="dialog" aria-labelledby="checktrackModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" style="width: 30%">
    <div class="modal-body">

      <div class="card card-signup" style="padding-bottom: 20px; border-radius: 10px">
        <div class="card card-testimonial card-plain" *ngFor="let process of owlProcess; let idx = index">
          <div [ngClass]="{'card-avatar': idx<=foundItem||idx==0}" style="width: 80px; height: 80px; margin: auto">
            <img [src]="process.icon">
          </div>
          <div class="card-body">
            <h4 class="card-title" [style.color]="idx<=foundItem||idx==0? '#0b5021': null">{{ process.title }}</h4>
          </div>
        </div>
      </div>

    </div>
  </div>
  <a data-dismiss="modal" style="display: none" #checktrackModal></a>
</div>
<!-- Checktrack Modal -->
