<main-navbar></main-navbar>

<!-- Header with parallax -->
<div class="wrapper">
  <div class="page-header header-filter" style="background-image: url(http://allswalls.com/images/city-aeyaey-metropolis-road-h-wallpaper-1.jpg);" [ngStyle]="{'height': routerIsRegister()? '1100px': '850px' }" [style.transform]="transform" (window:scroll)="onWindowScroll()">
    <div style="background-color: rgba(0, 0, 0, 0.6); height: 100%">
      <div class="container">
        <div class="row">
          <div class="text-center" style="padding-top: 23vh">
            <div class="col-md-6 col-md-offset-3">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- ./Header with parallax -->

  <!-- Content -->
  <div  class="main main-raised" *ngIf="routerIsLogin()===false && routerIsRegister()===false">
    <div class="section section-basic" >
      <div class="container">
        <div class="section text-center">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="title">Owl-Express คืออะไร ?</h2>
              <h5 class="description">
                Owl-Express คือ บริการส่งของส่งไวปานสายฟ้า <br>
                หากคุณคิดจะส่งของอย่าไปแคร์kerryมันช้า มันหน่อม มันกาก ต้องOwl-Express เท่านั้น ที่ว่องไว ไวมาก ไวจนมองไม่ทัน ราวกับว่าโยนของให้เพื่อนเลยทีเดียว
              </h5>
            </div>
          </div>

          <div class="features" [ngStyle]="{'margin-top': routerIsRegister()===true? '130px': '0px'}">
            <div class="row">
              <div class="col-md-3">
                <div class="info">
                  <div class="icon icon-info">
                    <i class="material-icons">flash_on</i>
                  </div>
                  <h4 class="info-title">เร็ว</h4>
                  <p>
                  บริการของเราใช้เทคโนโลยีคอนเทนเนอร์ทำให้ได้ความเร็วที่สูงกว่าเทคโนโลยีเวอร์ชวลแมชชีนมาก</p>
                </div>
              </div>

              <div class="col-md-3">
                <div class="info">
                  <div class="icon icon-success">
                    <i class="material-icons">accessibility</i>
                  </div>
                  <h4 class="info-title">ง่าย</h4>
                  <p>ซอฟแวร์ที่จำเป็นทุกอย่างถูกติดตั้งมาให้แล้ว</p>
                </div>
              </div>

              <div class="col-md-3">
                <div class="info">
                  <div class="icon icon-danger">
                    <i class="material-icons">verified_user</i>
                  </div>
                  <h4 class="info-title">ปลอดภัย</h4>
                  <p>ด้วยกลุ่มนักพัฒนาที่มากประสบการณ์ของเรา
                  ความปลอดภัยจึงเป็นเรื่องอันดับต้นๆที่เราสนใจ</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="info">
                  <div class="icon icon-danger">
                    <i class="material-icons">check_circle</i>
                  </div>
                  <h4 class="info-title">ฟรี</h4>
                  <p>Webserv ถูกพัฒนามาเพื่อนักศึกษาและบุคคลากรภายในสถาบัน</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section text-center">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="title">เพิ่มหัวข้อที่นี่</h2>
            </div>
          </div>
          <div class="features">
            <div class="row">
              <div class="col-md-6">
                <div class="phone-container">
                  <img src="http://www.pptbackground.net/background/Company-Analytics-Services-Presentation-for-Powerpoint-Templates.jpg" style="width: 100%">
                </div>
              </div>

              <div class="col-md-6">
                <br><br>
                เพิ่มเนื้อหาที่นี่
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

  </div>
  <!-- ./Content -->


  <!-- Footer -->
  <footer class="footer" [ngStyle]="{'margin-top': routerIsRegister()? '130px': '0px'}">
    <div class="container">
      <nav class="pull-left">
        <ul>
          <li>
            <h5>
              อีเมล: owl-express@email.com
            </h5>
          </li>
        </ul>
      </nav>
      <div class="copyright pull-right">
        ©
        2017
        By Owl-Express
      </div>
    </div>
  </footer>
  <!-- ./Footer -->

  <!-- Login Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true" *ngIf="routerIsMain()===true" >
    <div class="modal-dialog modal-md" style="width: 30%">
        <div class="modal-body">
          <main-login></main-login>
        </div>
      </div>
      <a data-dismiss="modal" style="display: none" #loginModal></a>
  </div>
  <!-- Login Modal -->

  <!-- Register Modal -->
  <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true" *ngIf="routerIsMain()===true" >
    <div class="modal-dialog modal-md" style="width: 30%">
        <div class="modal-body">
          <main-register></main-register>
        </div>
      </div>
      <a data-dismiss="modal" style="display: none" #registerModal></a>
  </div>
  <!-- Register Modal -->
