.navbar-blue {
  background: rgb(34, 173, 255);
  color: #ffffff;
  padding-top: 10px;
}

.navbar {
  color: #ffffff;
}

.pointer :hover {
  cursor: pointer;
}

.modal-backdrop {
  z-index: 1 !important;
}
