<div class="main-content">
  <div class="container-fluid">

    <!--<app-status></app-status>-->

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="blue">
            <h4 class="title">รายการของ</h4>
            <p class="category">รายการของที่ยังไม่ได้ส่ง ส่งแล้ว และกำลังส่ง</p>
          </div>
          <div  class="card-content table-responsive">
            <div class="content table-responsive table-full-width" style="min-width: 2000px">
                 <ng2-smart-table [settings]="settings" [source]="datas"></ng2-smart-table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
