<div class="card card-signup" style="padding-bottom: 20px; border-radius: 10px">

  <div class="header header-info text-center">
    <h4 style="font-size: 18px">ตรวจสอบรหัสวัสดุ</h4>
  </div>


  <div class="content" style="padding: 30px 40px 40px">

    <div class="form-group is-info label-floating is-empty">
      <input type="TEXT" class="form-control" required style="font-size: 2em; height: 80px" placeholder="Track-number such as H3ksi332aAo">
    </div>
  </div>

  <button type="submit" class="btn btn-large btn-info">ค้นหา</button>

</div>
