<div class="main-content">
  <div class="container-fluid">

    <!--<app-status></app-status>-->

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="blue">
            <h4 class="title">จัดการผู้ใช้</h4>
            <p class="category">เพิ่ม ลบ แก้ไข รายชื่อผู้ใช้งานทั้งหมด</p>
          </div>
          <div  class="card-content table-responsive">
            <div class="content table-responsive table-full-width">
              <ng2-smart-table [settings]="settings" [source]="source" (edit)="editData($event)"></ng2-smart-table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- ManageUser Modal -->
<div class="modal fade" id="manageUserModal" tabindex="-1" role="dialog" aria-labelledby="manageUserModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-body">

      <div class="content">

        <!--  Modal manage user content  -->
        <div class="card card-signup">
          <form class="form" [formGroup]="edituserForm" (ngSubmit)="submitEdit(edituserForm.value)" method="POST">
            <div class="content">


              <div class="col-md-6">
                <!--Email-->
                <div class="form-group is-info label-floating is-empty text-left">
                  <input type="EMAIL" class="form-control" required formControlName="email" placeholder="อีเมล" >
                </div>

                <div class="text-left">
                  <!--<strong class="text-danger text-left" *ngIf="loginForm.controls['password'].hasError('required')" [hidden]="loginForm.controls['password'].pristine">กรุณากรอกรหัสผ่าน</strong>-->
                </div>

                <!-- Fullname -->
                <div class="form-group is-info label-floating is-empty text-left">
                  <input type="TEXT" class="form-control" required formControlName="fullname" placeholder='ชื่อ-สกุล'>
                </div>

                <div class="text-left">
                  <!--<strong class="text-danger text-left" *ngIf="loginForm.controls['password'].hasError('required')" [hidden]="loginForm.controls['password'].pristine">กรุณากรอกรหัสผ่าน</strong>-->
                </div>

                <!-- Tell -->
                <div class="form-group is-info label-floating is-empty text-left">
                  <input type="TEXT" class="form-control" required formControlName="tell" placeholder="เบอร์ติดต่อ">
                </div>

                <div class="text-left">
                  <!--<strong class="text-danger text-left" *ngIf="loginForm.controls['password'].hasError('required')" [hidden]="loginForm.controls['password'].pristine">กรุณากรอกรหัสผ่าน</strong>-->
                </div>

                <!-- Subscribe SMS -->
                <div class="form-group is-empty is-info">
                  <select formControlName="subscribe_sms" required class="form-control">
                    <option value="false" [selected]="rowData==undefined? false: rowData.subscribe_sms==false? true: false"> ไม่ได้สมัคร  </option>
                    <option value="true" [selected]="rowData==undefined? false: rowData.subscribe_sms==true? true: false"> สมัครแล้ว  </option>
                  </select>
                </div>

                <div class="text-left">
                  <!--<strong class="text-danger text-left" *ngIf="loginForm.controls['password'].hasError('required')" [hidden]="loginForm.controls['password'].pristine">กรุณากรอกรหัสผ่าน</strong>-->
                </div>

                <!-- Activate Account -->
                <div class="form-group is-empty is-info">
                  <select formControlName="activated" required class="form-control">
                    <option value="false" [selected]="rowData==undefined? false: rowData.activated==false? true: false"> ยังไม่ได้ยืนยัน  </option>
                    <option value="true" [selected]="rowData==undefined? false: rowData.activated==true? true: false"> ยืนยันแล้ว  </option>
                  </select>
                </div>


              </div>

              <div class="col-md-6">

                <!-- Subdistrict -->
                <div class="form-group is-empty is-info">
                  <select formControlName="subdistrict" required class="form-control">
                    <option value="" [selected]="rowData==undefined? false: rowData.sub_districts.length==0? false: rowData.sub_districts[0].SUBDISTRICT_ID==undefined? true: false">เลือกตำบล</option>
                    <option *ngFor="let subdistrict of sub_districts!=undefined? sub_districts: []" [value]="sub_districts==undefined? null: subdistrict.SUBDISTRICT_ID" [selected]="sub_districts==undefined? false: rowData==undefined? false: rowData.sub_districts.length==0? false: subdistrict.SUBDISTRICT_ID==rowData.sub_districts[0].SUBDISTRICT_ID? true: false"> {{ sub_districts==undefined? '': subdistrict.SUBDISTRICT_NAME }} </option>
                  </select>
                </div>

                <div class="text-left">
                  <!--<strong class="text-danger text-left" *ngIf="loginForm.controls['password'].hasError('required')" [hidden]="loginForm.controls['password'].pristine">กรุณากรอกรหัสผ่าน</strong>-->
                </div>

                <!-- District -->
                <div class="form-group is-empty is-info">
                  <select formControlName="district" required class="form-control" (change)="getSubDistrict($event.target.value)">
                    <option value="" [selected]="rowData==undefined? false: rowData.districts.length==0? false: rowData.districts[0].DISTRICT_ID==undefined? true: false">เลือกอำเภอ</option>
                    <option *ngFor="let district of districts!=undefined? districts: []" [value]="districts==undefined? null: district.DISTRICT_ID" [selected]="districts==undefined? false: rowData==undefined? false: rowData.districts.length==0? false: district.DISTRICT_ID==rowData.districts[0].DISTRICT_ID? true: false"> {{ districts==undefined? '': district.DISTRICT_NAME }} </option>
                  </select>
                </div>

                <div class="text-left">
                  <!--<strong class="text-danger text-left" *ngIf="loginForm.controls['password'].hasError('required')" [hidden]="loginForm.controls['password'].pristine">กรุณากรอกรหัสผ่าน</strong>-->
                </div>

                <!-- Province -->
                <div class="form-group is-empty is-info">
                  <select formControlName="province" required class="form-control" (change)="getDistrict($event.target.value)">
                    <option value="">เลือกจังหวัด</option>
                    <option *ngFor="let province of provinces!=undefined? provinces: []" [value]="provinces==undefined? '': province.PROVINCE_ID" [selected]="rowData!=undefined? province.PROVINCE_ID==rowData.provinces[0].PROVINCE_ID: false"> {{ province.PROVINCE_NAME }}  </option>
                  </select>
                </div>

                <!-- Subscribe Line -->
                <div class="form-group is-empty is-info">
                  <select formControlName="subscribe_line" required class="form-control">
                    <option value="false" [selected]="rowData==undefined? false: rowData.subscribe_line==false? true: false"> ไม่ได้สมัคร  </option>
                    <option value="true" [selected]="rowData==undefined? false: rowData.subscribe_line==true? true: false"> สมัครแล้ว  </option>
                  </select>
                </div>

                <div class="text-left">
                  <!--<strong class="text-danger text-left" *ngIf="loginForm.controls['password'].hasError('required')" [hidden]="loginForm.controls['password'].pristine">กรุณากรอกรหัสผ่าน</strong>-->
                </div>

                <div class="text-left">
                  <!--<strong class="text-danger text-left" *ngIf="loginForm.controls['password'].hasError('required')" [hidden]="loginForm.controls['password'].pristine">กรุณากรอกรหัสผ่าน</strong>-->
                </div>
              </div>

              <button type="button" class="btn btn-default btn-round pull-right" style="font-size: 14px" (click)="toggleModal()">
                <span>ยกเลิก</span>
              </button>
              <button type="submit" class="btn btn-success btn-round pull-right" style="font-size: 14px">
                <i class="fa fa-spinner ld ld-spin" *ngIf="submit"></i>
                <span *ngIf="!submit">ยืนยัน</span>
              </button>

            </div>
          </form>
        </div>
        <!--  ./Modal manage user content  -->

      </div>

      <div data-toggle="modal" data-target="#manageUserModal" #manageUserModal style="display: none"></div>
    </div>
  </div>
</div>
<!-- ManageUser Modal -->

