<div class="main-content">
  <div class="container-fluid">

    <!--<app-status></app-status>-->

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="blue">
            <h4 class="title">จัดการผู้ใช้</h4>
            <p class="category">เพิ่ม ลบ แก้ไข รายชื่อผู้ใช้งานทั้งหมด</p>
          </div>
          <div  class="card-content table-responsive">
            <div class="content table-responsive table-full-width">
              <ng2-smart-table [settings]="settings" [source]="source" (edit)="editData($event)"></ng2-smart-table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
