<div class="card card-signup" style="padding-bottom: 20px; border-radius: 10px;">

  <form class="form" [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)" method="POST">
    <div class="header header-info text-center">
      <h4 style="font-size: 18px">ลงทะเบียน</h4>
    </div>

    <div class="content text-left" style="padding: 30px 40px 40px">

      <div class="form-group is-empty is-info">
        <select formControlName="role" required class="form-control">
          <option value="" selected> เลือกบางอย่าง</option>
          <option value="student">value1</option>
          <option value="teacher">value2</option>
        </select>
      </div>
      <strong class="text-danger" *ngIf="registerForm.controls['role'].hasError('required')" [hidden]="registerForm.controls['role'].pristine">กรุณากรอกประเภทบคลากร</strong>

      <div class="form-group is-info" id="faculty" *ngIf="registerForm.controls['role'].value=='student'">
        <select formControlName="value1" class="form-control">
          <option value="" selected> ----- เลือกบางอย่าง  -----</option>
          <option value="sdf">บางอย่าง</option>
        </select>
      </div>
      <strong class="text-danger" *ngIf="registerForm.controls['faculty'].hasError('required')" [hidden]="registerForm.controls['faculty'].pristine">กรุณากรอกคณะ</strong>
      <strong class="text-danger" *ngIf="registerForm.controls['faculty'].hasError('maxlength')" [hidden]="registerForm.controls['faculty'].pristine">ชื่อคณะต้องไม่น้อยกว่า {{ inputLength.facultyMax }} ตัวอักษร</strong>

      <div class="form-group label-floating is-empty is-info">
        <label class="control-label">ชื่อ</label>
        <input class="form-control" type="text" formControlName="name" required>
      </div>
      <strong class="text-danger" *ngIf="registerForm.controls['name'].hasError('required')" [hidden]="registerForm.controls['name'].pristine">กรุณากรอกชื่อ-สกุล</strong>
      <strong class="text-danger" *ngIf="registerForm.controls['name'].hasError('maxlength')" [hidden]="registerForm.controls['name'].pristine">ชื่อ-สกุลต้องไม่น้อยกว่า {{ inputLength.nameMax }} ตัวอักษร</strong>

      <div class="form-group label-floating is-empty is-info">
        <label class="control-label">รหัสผ่าน</label>
        <input class="form-control" type="password" formControlName="password" required>
      </div>
      <strong class="text-danger" *ngIf="registerForm.controls['password'].hasError('required')" [hidden]="registerForm.controls['password'].pristine">กรุณากรอกรหัสผ่าน</strong>
      <strong class="text-danger" *ngIf="registerForm.controls['password'].hasError('minlength')" [hidden]="registerForm.controls['password'].pristine">รหัสผ่านต้องไม่น้อยกว่า {{ inputLength.passwordMin }} ตัวอักษร</strong>

      <div class="form-group label-floating is-empty is-info">
        <label class="control-label">ยืนยันรหัสผ่าน</label>
        <input class="form-control" type="password" formControlName="repassword" required>
      </div>
      <strong class="text-danger" *ngIf="registerForm.controls.repassword.errors?.MatchPassword" >รหัสผ่านไม่ตรงกัน</strong>
      <strong class="text-danger" *ngIf="registerForm.controls['repassword'].hasError('required')" [hidden]="registerForm.controls['repassword'].pristine">กรุณากรอกรหัสผ่านอีกครั้ง</strong>

    </div>

    <div class="footer text-center" style="padding-left: 50px; padding-right: 50px">

      <strong class="text-danger" *ngIf="formInvalid.other!=null">{{ formInvalid.other }}</strong>

      <button type="submit" class="btn btn-info btn-block btn-round" style="font-size: 14px" [disabled]="registerForm.invalid || submit">
        <i class="fa fa-spinner ld ld-spin" *ngIf="submit"></i>
        <span *ngIf="!submit">ลงทะเบียน</span>
      </button>
      <br />

      <p style="opacity: 0.4">ยังไม่มีบัญชี?
      <a (click)="closeModal()" data-toggle="modal" data-target="#loginModal"  class="text-info" style="font-weight: bold">เข้าสู่ระบบ</a>
      </p>

    </div>

  </form>

</div>
