<div class="card card-signup" style="padding-bottom: 20px; border-radius: 10px;">

  <form class="form" [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)" method="POST">
    <div class="header header-info text-center">
      <h4 style="font-size: 18px">ลงทะเบียน</h4>
    </div>

    <div class="content text-left" style="padding: 30px 40px 40px">

      <div class="form-group is-empty is-info">
        <select formControlName="type" required class="form-control">
          <option value="" selected> เลือกประเภทบุคคลากร </option>
          <option value="personal">บุคคลทั่วไป</option>
          <option value="enterprise">องค์กร/ร้านค้า</option>
        </select>
      </div>
      <strong class="text-danger" *ngIf="registerForm.controls['type'].hasError('required')" [hidden]="registerForm.controls['type'].pristine">กรุณากรอกประเภทบคลากร</strong>

      <div class="form-group label-floating is-empty is-info">
        <label class="control-label">ชื่อ-สกุล</label>
        <input class="form-control" type="text" formControlName="fullname" required>
      </div>
      <strong class="text-danger" *ngIf="registerForm.controls['fullname'].hasError('required')" [hidden]="registerForm.controls['fullname'].pristine">กรุณากรอกชื่อ-สกุล</strong>
      <strong class="text-danger" *ngIf="registerForm.controls['fullname'].hasError('maxlength')" [hidden]="registerForm.controls['fullname'].pristine">ชื่อ-สกุลต้องไม่น้อยกว่า {{ inputLength.fullnameMin }} ตัวอักษร</strong>

      <div class="form-group label-floating is-empty is-info">
        <label class="control-label">อีเมล</label>
        <input class="form-control" type="email" formControlName="email" required>
      </div>
      <strong class="text-danger" *ngIf="registerForm.controls['email'].hasError('required')" [hidden]="registerForm.controls['email'].pristine">กรุณากรอกอีเมล</strong>
      <strong class="text-danger" *ngIf="registerForm.controls['email'].hasError('email') && !registerForm.controls['email'].hasError('required')" [hidden]="registerForm.controls['email'].untouched">รูปแบบอีเมลไม่ถูกต้อง</strong>

      <div class="form-group label-floating is-empty is-info">
        <label class="control-label">เบอร์ติดต่อ</label>
        <input class="form-control" type="tell" formControlName="tell" required>
      </div>
      <strong class="text-danger" *ngIf="registerForm.controls['tell'].hasError('required')" [hidden]="registerForm.controls['tell'].pristine">กรุณากรอกเบอร์ติดต่อ</strong>
      <strong class="text-danger" *ngIf="registerForm.controls['tell'].hasError('maxlength')" [hidden]="registerForm.controls['tell'].pristine">เบอร์ติดต่อต้องไม่มากกว่า {{ inputLength.tellMax }} ตัวอักษร</strong>
      <strong class="text-danger" *ngIf="!registerForm.controls['tell'].hasError('pattern') && registerForm.controls['tell'].hasError('minlength')" [hidden]="registerForm.controls['tell'].pristine">เบอร์ติดต่อต้องไม่น้อยกว่า {{ inputLength.tellMin }} ตัวอักษร</strong>
      <strong class="text-danger" *ngIf="registerForm.controls['tell'].hasError('pattern')" [hidden]="registerForm.controls['tell'].pristine">เบอร์ติดต่อต้องเป็นตัวเลขเท่านั้น</strong>

      <div class="form-group label-floating is-empty is-info">
        <label class="control-label">รหัสผ่าน</label>
        <input class="form-control" type="password" formControlName="password" required>
      </div>
      <strong class="text-danger" *ngIf="registerForm.controls['password'].hasError('required')" [hidden]="registerForm.controls['password'].pristine">กรุณากรอกรหัสผ่าน</strong>
      <strong class="text-danger" *ngIf="registerForm.controls['password'].hasError('minlength')" [hidden]="registerForm.controls['password'].pristine">รหัสผ่านต้องไม่น้อยกว่า {{ inputLength.passwordMin }} ตัวอักษร</strong>
      <strong class="text-danger" *ngIf="formInvalid.email!=null">{{ formInvalid.email }}</strong>

      <div class="form-group label-floating is-empty is-info">
        <label class="control-label">ยืนยันรหัสผ่าน</label>
        <input class="form-control" type="password" formControlName="repassword" required>
      </div>
      <strong class="text-danger" *ngIf="registerForm.controls.repassword.errors?.MatchPassword && !registerForm.controls['password'].hasError('required')" [hidden]="registerForm.controls['repassword'].untouched">รหัสผ่านไม่ตรงกัน</strong>
      <strong class="text-danger" *ngIf="registerForm.controls['repassword'].hasError('required')" [hidden]="registerForm.controls['repassword'].pristine">กรุณากรอกรหัสผ่านอีกครั้ง</strong>

    </div>

    <div class="footer text-center" style="padding-left: 50px; padding-right: 50px">

      <strong class="text-danger" *ngIf="formInvalid.other!=null">{{ formInvalid.other }}</strong>

      <button type="submit" class="btn btn-info btn-block btn-round" style="font-size: 14px" [disabled]="registerForm.invalid || submit">
        <i class="fa fa-spinner ld ld-spin" *ngIf="submit"></i>
        <span *ngIf="!submit">ลงทะเบียน</span>
      </button>
      <br />

      <p style="opacity: 0.4" *ngIf="!routerIsRegister()">ยังไม่มีบัญชี?
      <a (click)="closeModal()" data-toggle="modal" data-target="#loginModal"  class="text-info" style="font-weight: bold">เข้าสู่ระบบ</a>
      </p>

    </div>

  </form>

</div>
