<div class="row">

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats" >
      <div class="card-header" data-background-color="orange">
        <i class="fa fa-archive"></i>
      </div>
      <div class="card-content">
        <p class="category">Order ทั้งหมด</p>
        <h3 class="title">{{ dataStatus.sumOrder }}</h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          คลิกเพื่อเข้าดูสินค้าทั้งหมด
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats" >
      <div class="card-header" data-background-color="green">
        <i class="fa ion-android-person" style="font-size: 44px"></i>
      </div>
      <div class="card-content">
        <p class="category">All User</p>
        <h3 class="title">{{ dataStatus.sumUser }}</h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          ดูสินค้าทั้งหมด
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats" >
      <div class="card-header" data-background-color="orange">
        <i class="fa ion-ios-paperplane" style="font-size: 48px"></i>
      </div>
      <div class="card-content">
        <p class="category">Order ที่กำลังจัดส่ง</p>
        <h3 class="title">{{ dataStatus.sumOrderSending }}</h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          ดู Order ทั้งหมด
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats" >
      <div class="card-header" data-background-color="red">
        <i class="fa ion-ios-list" style="font-size: 46px"></i>
      </div>
      <div class="card-content">
        <p class="category">สินค้าที่ยังไม่ได้ส่ง</p>
        <h3 class="title">{{ dataStatus.sumOrderNotSend }}</h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          คลิกเพื่อเข้าดูสินค้าที่ยังไม่ได้ส่ง
        </div>
      </div>
    </div>
  </div>


</div>

