<!-- Navbar -->
<nav class="navbar navbar-fixed-top navbar-transparent navbar-color-on-scroll" [ngClass]="{'navbar-blue': showNavBackground() === true}">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">
        <div class="logo-container">
          <div class="logo">
            <img src="assets/img/logo.png" *ngIf="!showNavBackground()" style="width: 40px; height: 40px; margin-right: 10px" rel="tooltip" data-placement="bottom" data-html="true">
            <span style="color: white;" [style.font-size.px]="logoFontSize">Owl-Express</span>
          </div>
        </div>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navigation-index">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#">
            เกี่ยวกับเรา
          </a>
        </li>
        <li>
          <a href="#">
            ติดต่อเรา
          </a>
        </li>
        <li>
          <!-- Open Modal -->
          <a  *ngIf="routerIsMain()" data-toggle="modal" data-target="#loginModal" class="btn btn-warning btn-raised btn-round">
            เข้าสู่ระบบ
          </a>

          <!-- Change URL -->
          <a routerLink="/login" class="btn btn-warning btn-raised btn-round" *ngIf="routerIsRegister()" >
            เข้าสู่ระบบ
          </a>
          <a routerLink="/register" class="btn btn-warning btn-raised btn-round" *ngIf="routerIsLogin()">
            ลงทะเบียน
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
