<div class="card card-signup" style="padding-bottom: 20px; border-radius: 10px">

  <form class="form" [formGroup]="forgetForm" (ngSubmit)="sendForget(forgetForm.value)" method="GET">

    <div class="header header-info text-center">
      <h4 style="font-size: 18px">ใส่อีเมลเพื่อส่งที่อยู่ลิงค์ตั้งรหัสผ่านใหม่ไปยังอีเมล</h4>
    </div>


    <div class="content" style="padding: 30px 40px 40px">

      <div class="form-group is-info label-floating is-empty text-left">
        <label class="control-label">อีเมล</label>
        <input type="TEXT" class="form-control" required formControlName="email">
      </div>

      <div class="text-left">
        <strong class="text-danger" *ngIf="forgetForm.controls['email'].hasError('required')" [hidden]="forgetForm.controls['email'].pristine">กรุณากรอกอีเมล</strong>
        <strong class="text-danger" *ngIf="forgetForm.controls['email'].hasError('email') && !forgetForm.controls['email'].hasError('required')" [hidden]="forgetForm.controls['email'].untouched">รูปแบบอีเมลไม่ถูกต้อง</strong>
      </div>


    </div>


    <div class="footer text-center" style="padding-left: 50px; padding-right: 50px">

      <strong class="text-danger" *ngIf="formInvalid!=null">{{ formInvalid }}</strong>

      <button type="submit" class="btn btn-info btn-block btn-round" style="font-size: 14px" [disabled]="forgetForm.invalid || submit || sent">
        <i class="fa fa-spinner ld ld-spin" *ngIf="submit"></i>
        <i class="fa fa-check" *ngIf="sent"></i>
        <span *ngIf="!submit && !sent">ส่งอีเมลตั้งรหัสผ่านใหม่</span>
        <span *ngIf="sent">ส่งแล้ว</span>
      </button>
      <br />

    </div>

  </form>

</div>
