<div class="main-content">
  <div class="container-fluid">

    <!--<app-status></app-status>-->

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="blue">
            <h4 class="title">จัดการผู้ใช้</h4>
            <p class="category">เพิ่ม ลบ แก้ไข รายชื่อพนักงานทั้งหมด</p>
          </div>
          <div  class="card-content table-responsive">
            <div class="content table-responsive table-full-width">
              <ng2-smart-table [settings]="settings" [source]="source" (edit)="editData($event)"></ng2-smart-table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- ManageUser Modal -->
<div class="modal fade" id="manageOfficerModal" tabindex="-1" role="dialog" aria-labelledby="manageOfficerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-body">

      <div class="content">

        <!--  Modal manage user content  -->
        <div class="card card-signup">
          <form class="form" [formGroup]="editofficerForm" (ngSubmit)="submitEdit(editofficerForm.value)" method="POST">
            <div class="content">


              <div class="col-md-6">
                <!--Email-->
                <label class="control-label">อีเมล</label>
                <div class="is-info label-floating is-empty text-left">
                  <input type="EMAIL" class="form-control" placeholder="อีเมล" disabled [value]="rowData==undefined? '': rowData.email">
                </div>

                <!-- Type -->
                <label class="control-label">สิทธิ</label>
                <select formControlName="role" required class="form-control">
                  <option value="officer" [selected]="rowData==undefined? false: rowData.role=='officer'? true: false"> Officer  </option>
                  <option value="admin" [selected]="rowData==undefined? false: rowData.role=='admin'? true: false"> Admin  </option>
                </select>

                <div class="text-left">
                  <strong class="text-danger text-left" *ngIf="editofficerForm.controls['role'].hasError('required')" [hidden]="editofficerForm.controls['role'].pristine">กรุณาเลือกประเภทผู้ใช้งาน</strong>
                  <strong class="text-danger text-left" *ngIf="editofficerForm.controls['role'].hasError('pattern')" [hidden]="editofficerForm.controls['role'].pristine">รูปแบบสิทธิพนักงานไม่ถูกต้อง</strong>
                </div>

                <!-- Fullname -->
                <label class="control-label">ชื่อ-สกุล</label>
                <div class="is-info label-floating is-empty text-left">
                  <input type="TEXT" class="form-control" required formControlName="fullname" placeholder='ชื่อ-สกุล'>
                </div>

                <div class="text-left">
                  <strong class="text-danger text-left" *ngIf="editofficerForm.controls['fullname'].hasError('required')" [hidden]="editofficerForm.controls['fullname'].pristine">กรุณากรอกชื่อ-สกุล</strong>
                  <strong class="text-danger text-left" *ngIf="editofficerForm.controls['fullname'].hasError('maxlength')" [hidden]="editofficerForm.controls['fullname'].pristine"> ชื่อ-สกุล ต้องไม่ยาวกว่า {{ inputLength.fullnameMax }} ตัวอักษร </strong>
                </div>

                <!-- Tell -->
                <label class="control-label">เบอร์ติดต่อ</label>
                <div class="is-info label-floating is-empty text-left">
                  <input type="TEXT" class="form-control" required formControlName="tell" placeholder="เบอร์ติดต่อ">
                </div>

                <div class="text-left">
                  <strong class="text-danger text-left" *ngIf="editofficerForm.controls['tell'].hasError('required')" [hidden]="editofficerForm.controls['tell'].pristine">กรุณากรอกเบอร์ติดต่อ</strong>
                </div>


              </div>

              <div class="col-md-6">

                <!-- Province -->
                <label class="control-label">จังหวัด</label>
                <div class="is-empty is-info">
                  <select formControlName="province" required class="form-control" (change)="getDistrict($event.target.value)">
                    <option value="">เลือกจังหวัด</option>
                    <option *ngFor="let province of provinces!=undefined? provinces: []" [value]="provinces==undefined? '': province.PROVINCE_ID" [selected]="provinces==undefined? false: rowData==undefined? false: rowData.provinces.length==undefined? false: rowData.provinces.length==0? false: province.PROVINCE_ID==rowData.provinces[0].PROVINCE_ID? true: false"> {{ provinces==undefined? '':  province.PROVINCE_NAME }}  </option>
                  </select>
                </div>


                <!-- District -->
                <label class="control-label">อำเภอ</label>
                <div class="is-empty is-info">
                  <select formControlName="district" required class="form-control" (change)="getSubDistrict($event.target.value)">
                    <option value="" [selected]="rowData==undefined? false: rowData.districts.length==0? false: rowData.districts[0].DISTRICT_ID==undefined? true: false">เลือกอำเภอ {{ rowData==undefined? '': rowData.districts[0]==undefined? '': rowData.districts[0].DISTRICT_NAME}}</option>
                    <option *ngFor="let district of districts!=undefined? districts: []" [value]="districts==undefined? null: district.DISTRICT_ID" [selected]="districts==undefined? false: rowData==undefined? false: rowData.districts.length==undefined? false: rowData.districts.length==0? false: district.DISTRICT_ID==rowData.districts[0].DISTRICT_ID? true: false"> {{ districts==undefined? '': district.DISTRICT_NAME }} </option>
                  </select>
                </div>

                <!-- Subdistrict -->
                <label class="control-label">ตำบล</label>
                <div class="is-empty is-info">
                  <select formControlName="sub_district" required class="form-control">
                    <option value="" [selected]="rowData==undefined? false: rowData.sub_districts.length==0? false: rowData.sub_districts[0].SUBDISTRICT_ID==undefined? true: false">เลือกตำบล</option>
                    <option *ngFor="let subdistrict of sub_districts!=undefined? sub_districts: []" [value]="sub_districts==undefined? null: subdistrict.SUBDISTRICT_ID" [selected]="sub_districts==undefined? false: rowData==undefined? false: rowData.sub_districts==undefined? false: rowData.sub_districts.length==0? false: subdistrict.SUBDISTRICT_ID==rowData.sub_districts[0].SUBDISTRICT_ID? true: false"> {{ sub_districts==undefined? '': subdistrict.SUBDISTRICT_NAME }} </option>
                  </select>
                </div>

                <!-- Address Other -->
                <label class="control-label">รายละเอียดที่อยู่เพิ่มเติม</label>
                <div class="is-info label-floating is-empty text-left">
                  <textarea type="TEXT" class="form-control" required formControlName="address_other" placeholder="รายละเอียดที่อยู่เพิ่มเติม ตัวอย่าง  11/69 ถนนบ้านปลาหยุด ซอยจันทร์โอชา"></textarea>
                </div>

                  <div class="text-left">
                    <strong class="text-danger text-left" *ngIf="editofficerForm.controls['address_other'].hasError('maxlength')" [hidden]="editofficerForm.controls['address_other'].pristine">รายละเอียดที่อยู่ยาวกว่า {{ inputLength.address_otherMax }} ตัวอักษร</strong>
                  </div>

              </div>

              <!-- 400 Bad Request Message -->
              <div class="text-left">
                <strong class="text-danger text-left" *ngIf="inputLength.other!=undefined">{{ inputLength.other }}</strong>
              </div>

              <!-- Button Action -->
              <button type="button" class="btn btn-default btn-round pull-right" style="font-size: 14px" (click)="toggleModal()">
                <span>ยกเลิก</span>
              </button>
              <button type="submit" class="btn btn-success btn-round pull-right" style="font-size: 14px">
                <i class="fa fa-spinner ld ld-spin" *ngIf="submit"></i>
                <span *ngIf="!submit">ยืนยัน</span>
              </button>

            </div>
          </form>
        </div>
        <!--  ./Modal manage user content  -->

      </div>

      <div data-toggle="modal" data-target="#manageOfficerModal" #manageOfficerModal style="display: none"></div>
    </div>
  </div>
</div>
<!-- ManageUser Modal -->

