<div class="main-content">
  <div class="container-fluid">

    <!--<app-status></app-status>-->

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="blue">
            <h4 class="title">ตั้งค่าโปรไฟล์</h4>
            <p class="category">ข้อมูลโปรไฟล์เหล่านี้จะถูกนำไปใช้กับที่อยู่เมื่อกรอกข้อมูลส่งของได้</p>
          </div>
          <div  class="card-content table-responsive">
            <form class="form" [formGroup]="profileForm" (ngSubmit)="submit(profileForm.value)" method="POST">

              <!--column 1-->
              <div class="col-md-12">

                <!-- Fullname -->
                <label class="control-label" for="">ชื่อ-สกุล <span class="star">*</span> </label>
                <div class="is-info label-floating is-empty text-left">
                  <input type="TEXT" class="form-control" formControlName="fullname" />

                  <strong class="text-danger text-left" *ngIf="profileForm.controls['fullname'].hasError('required') || profileForm.controls['subscribe_line'].hasError('pattern')" [hidden]="profileForm.controls['fullname'].pristine">กรุณากรอกชื่อ-สกุล</strong>
                </div>

                <!-- tell -->
                <label class="control-label" for="">เบอร์ติดต่อ <span class="star">*</span> </label>
                <div class="is-info label-floating is-empty text-left">
                  <input type="TEXT" class="form-control" formControlName="tell" />

                  <strong class="text-danger text-left" *ngIf="profileForm.controls['tell'].hasError('required')" [hidden]="profileForm.controls['tell'].pristine">กรุณากรอกเบอร์ิติดต่อ</strong>
                  <strong class="text-danger text-left" *ngIf="profileForm.controls['tell'].hasError('maxlength')" [hidden]="profileForm.controls['tell'].pristine">เบอรติดต่อต้องไม่เกิน {{ inputLength.tellMax }} ตัวอักษร</strong>
                  <strong class="text-danger text-left" *ngIf="profileForm.controls['tell'].hasError('minlength')" [hidden]="profileForm.controls['tell'].pristine">เบอรติดต่อต้องมากกว่า {{ inputLength.tellMin }} ตัวอักษร</strong>
                </div>

                <!-- Province -->
                <label class="control-label" for="">เลือกจังหวัด </label>
                <div class="is-info label-floating is-empty text-left">

                  <select formControlName="province" class="form-control" (change)="getDistrict($event.target.value)" >
                    <option value="" selected></option>
                    <option  *ngFor="let province of provinces" [value]="province.PROVINCE_ID">{{ province.PROVINCE_NAME }}</option>
                  </select>

                </div>

                <!-- District -->
                <label class="control-label" for="">เลือกอำเภอ </label>
                <div class="is-info label-floating is-empty text-left">
                  <select formControlName="district" class="form-control" (change)="getSubdistrict($event.target.value)" [disabled]="districts==undefined">
                    <option value="" selected></option>
                    <option  *ngFor="let district of districts" [value]="district.DISTRICT_ID">{{ district.DISTRICT_NAME }}</option>
                  </select>

                </div>

                <!-- Subdistrict -->
                <label class="control-label" for="">เลือกตำบล </label>
                <div class="is-info label-floating is-empty text-left">

                  <select formControlName="subdistrict" class="form-control" [disabled]="subdistricts==undefined">
                    <option value="" selected></option>
                    <option  *ngFor="let subdistrict of subdistricts" [value]="subdistrict.SUBDISTRICT_ID">{{ subdistrict.SUBDISTRICT_NAME }}</option>
                  </select>

                </div>

                <!-- Address Other -->
                <label class="control-label">รายละเอียดที่อยู่เพิ่มเติม</label>
                <div class="is-info label-floating is-empty text-left">
                  <textarea type="TEXT" class="form-control" formControlName="addressOther" placeholder="รายละเอียดที่อยู่ต้นทางเพิ่มเติม" ></textarea>
                </div>

                <div class="text-left">
                  <strong class="text-danger text-left" *ngIf="profileForm.controls['addressOther'].hasError('maxlength')" [hidden]="profileForm.controls['addressOther'].pristine">รายละเอียดที่อยู่ยาวกว่า {{ inputLength.address_otherMax }} ตัวอักษร</strong>
                </div>

                <!-- Subscribe -->
                <div class="form-group label-floating is-empty">
                  <div class="checkbox">
                    <div class="col-md-6">
                      <label class="left">
                        <input  formControlName="subscribe_sms" type="checkbox" value="true" [checked]="this.profileForm.controls['subscribe_sms'].value">
                        <span class="checkbox-material"><span class="check"></span></span>
                      </label>
                      ติดตามสถานะพัสดุผ่าน SMS
                    </div>
                    <div class="col-md-6">
                      <label class="left">
                        <input formControlName="subscribe_line" type="checkbox" value="true" [checked]="this.profileForm.controls['subscribe_line'].value">
                        <span class="checkbox-material"><span class="check"></span></span>
                      </label>
                      ติดตามสถานะพัสดุผ่าน Line
                    </div>
                  </div>
                  <strong class="text-danger text-left" *ngIf="profileForm.controls['subscribe_line'].hasError('pattern') || profileForm.controls['subscribe_line'].hasError('pattern')" [hidden]="profileForm.controls['subscribe_sms'].pristine">รูปแบบข้อมูลการติดตามสถานะพัสุไม่ถูกต้อง</strong>
                </div>

              </div>


              <div class="form-footer text-right">
                <div class="category form-category">
                </div>
                <div class="checkbox pull-left">
                  <label>
                    <span class="star">*</span> Required fields
                  </label>
                </div>
              </div>
              <div class="pull-right">
                <button class="btn btn-rose btn-fill btn-wd btn-info" type="submit">แก้ไข</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
